body {
  background-color: #bdc3c7;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

#app-container {
  overflow: hidden;
  width: 100%;
}

#app-header {
  background-color: #2ecc71;
  height: 10vh;
  position: fixed;
  text-align: center;
  width: 100%;
}

#app-header h1 {
  color: white;
  line-height: 10vh;
  margin: 0;
}

#app-body {
  margin: 0 auto;
  min-height: 75vh;
  padding-top: 15vh;
  width: 80%;
}

#app-body .search-form {
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  width: 50%;
}

#app-body .search-form button[type="submit"] {
  font-family: 'Roboto';
  padding: .4em .7em;
}

#app-body .search-form input[type="text"] {
  font-family: 'Roboto';
  font-size: 1em;
  padding: .8em 1em;
}

#app-footer {
  min-height: 10vh;
  width: 100%;
}

#app-footer p {
  border-top: 1px solid #7f8c8d;
  margin: 0 auto;
  padding-top: 1.5em;
  text-align: center;
  width: 40%;
}

.tv-show {
  background-color: white;
  margin-bottom: 1em;
  padding: .7em;
  overflow: hidden;
  width: 100%;
}

.tv-show:hover {
  background: #ecf0f1;
}

.tv-show img {
  /*max-height: 90%;*/
  max-width: 90%;
}

.tv-show .img-container {
  width: 15%;
  /*padding: 0;*/
}

.tv-show .info {
  width: 85%;
}

.left {
  float: left;
}

.right {
  float: right;
}
